/* _____________HEADER______________ */
.header {
  /* style header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.header-image img {
  /* style logo */
  height: 60px; 
  max-height: 100%;
  border-radius: 0%;
}

.header-links-container {
  /* flex and give padding */
  display: flex;
  padding-right: 20px;
}

.header-links-container a {
  /* style header links */
  text-decoration: none;
  font-size: 18px;
  color: rgb(230, 182, 191);
  border: none;
  padding: 8px 16px;
}

.header-links-container a:hover {
  /* hover style */
  background-color: rgb(230, 182, 191);
  color: white;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50px;
}

.header-links-container a:last-child {
  /* sign up look different*/
  background-color: rgb(230, 182, 191);
  color: white;
  border-radius: 50px;
}

.header-links-container a:last-child:hover {
  /* opposite colours on hover for sign up */
  background-color: white;
  color: rgb(230, 182, 191);
  border-radius: 50px;
}

/* responsiveness */
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .header-links-container {
    padding: 10px 0;
  }
  
  .header-links-container a {
    margin: 5px 0;
  }
}








/* _______________SIGN IN AND SIGN UP___________________ */
.sign-form {
  /* stlye form */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px;
  color: #4a4a4a;
}

label {
  /* format input boxes */
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input {
  /* style input boxes */
  padding: 5px;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
}

button {
  /* button stlye */
  background-color: #ffb972;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  /* button hover */
  background-color: #ffa447;
}










/* ____________MEET THE TEAM________________ */
/* Meet section */
.meet {
  /* section style */
  padding: 50px 0;
  background-color: #f9f9f9;
}

.section-title {
  /* center the title */
  text-align: center;
  margin-bottom: 25px;
}

.section-title .title {
  /* style title */
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #4a4a4a;
}

.section-title .message {
  /* style message */
  font-size: 18px;
  font-weight: 400;
  color: #777777;
  line-height: 1.5;
}

/* Cards*/
.cards {
  /* flex the cards */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  /* style card */
  flex: flex;
  margin: 30px 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  /* style image */
  width: 100%;
  height: auto;
  margin: 20px 0;
  object-fit: cover;
}

.card h3 {
  /* names */
  font-size: 22px;
  color: #4a4a4a;
  font-weight: 700;
  margin-bottom: 10px;
}

.card p {
  /* info section */
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #777777;
}

.card ul {
  /* icons */
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.card ul li {
  /* icon in line */
  display: inline-block;
  margin-right: 10px;
}

.card ul li a {
  /* stlye icons */
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.card ul li a svg {
  /* more icon stlyes */
  width: 20px;
  height: 20px;
  color: rgb(230, 182, 191);
}

.card ul li a svg :hover {
  color: rgb(231, 133, 151);
}

/* Responsive design */
@media screen and (min-width: 768px) {
  .cards {
    margin-top: 0;
  }
  .card {
    flex-basis: calc(25% - 20px);
    margin: 30px 10px;
  }
}
@media screen and (min-width: 992px) {
  .card {
    flex-basis: calc(20% - 20px);
    margin: 30px 10px;
  }
}








/* ____________ABOUT_______________ */
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > div {
  width: 100%;
  margin-bottom: 20px;
}

.about h1 {
  /* style title */
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  color: #4a4a4a;
}

.about p {
  /* style paragraphs */
  margin: 0;
  font-size: 17px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 1.5rem;
}

.about div:last-child p {
  text-align: justify;
}

/* responsiveness */
@media screen and (max-width: 768px) {
  .about {
    padding: 10px;
  }

  .about h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .about p {
    font-size: 15px;
    line-height: 1.5;
  }
}









/* _____________BLOG SECTION________________ */
.blog {
  /* flex and position blog */
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 7rem;
  margin-right: 7rem;
}

.blog-img {
  /* image style */
  width: 100%;
  max-width: 350px;
  margin-right: 4rem;
  padding: 50px 0;
}

.blog-img img {
  /* control image size */
  width: 100%;
  height: auto;
}

.blog-content {
  /* how much the flex item with grow relative 
  to other items, grows to fill available space */
  flex: 1;
  padding: 0 2rem;
  text-align: center;
  max-width: 500px;
}

.blog-content .title {
  /* stle title */
  font-size: 1.8rem;
  color: #ffa447;
  margin-bottom: 1rem;
}

.blog-content .message {
  /* stlye message */
  font-size: 1.2rem;
  color: #777777;
  margin-bottom: 2rem;
}

.blog-content .button {
  /* stlye button */
  display: block;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 30px;
  background-color: rgb(230, 182, 191);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.blog-content .button:hover {
  /* move button up on hover */
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.blog-content .button a {
  /* style button writing */
  color: #fff;
  text-decoration: none;
}

/* responsiveness */
@media screen and (max-width: 768px) {
  .blog {
    flex-direction: column;
    align-items: center;
  }
  
  .blog-img {
    margin-right: 0;
  }
  
  .blog-content {
    text-align: center;
  }
}













/* _____________SUBSCRIBE FORM______________ */
.subscribe {
  /* subscribe section style */
  background-color: #ffe9eb;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.subscribe-form {
  /* form style */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-form h2 {
  /* h2 stlye */
  font-size: 30px;
  color: 	#ffa447;
  margin-bottom: 10px;
  text-align: center;
}

.subscribe-form p {
  /* p style */
  font-size: 18px;
  color: 	#ffa447;
  margin-bottom: 20px;
  text-align: center;
}

.subscribe-form form {
  /* flex bar and button */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-form input[type="text"] {
  /* email bar style */
  font-size: 16px;
  color: gray;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  max-width: 350px;
}

.subscribe-form input[type="submit"] {
  /* subscribe button style */
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffb972;
  cursor: pointer;
}

.subscribe-form input[type="submit"]:hover {
  /* hover to darker orange */
  background-color: #ffa447;
}

/* responsiveness */
@media screen and (min-width: 768px) {
  .subscribe {
    flex-direction: row;
  }

  .subscribe-form {
    width: 50%;
  }

  .subscribe-form h2,
  .subscribe-form p {
    text-align: left;
  }

  .subscribe-form form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .subscribe-form input[type="text"] {
    margin-bottom: 0;
    margin-right: 10px;
    max-width: 170px;
  }
}








/* _____________FOOTER______________ */

.container{
  max-width: 1170px;
  margin:auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul{
  /* remove bullet points */
  list-style: none;
}

.footer{
  background-color: #ffffff;
  padding: 70px 0;
}

.footer-col{
  /* move columns right */
   width: 25%;
   padding: 0 30px;
}

.footer-col h4{
  /* title */
  font-size: 18px;
  color: rgb(230, 182, 191);
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  /* bar under h4s */
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: rgb(208, 121, 135);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  /* line spacing */
  margin-bottom: 10px;
}

.footer-col ul li a{
  /* style hrefs */
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(230, 182, 191);
  text-decoration: none;
  font-weight: 300;
  color: #939393;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  /* hover effect*/
  color: rgb(230, 182, 191);
  padding-left: 7px;
}

.social-links a{
  /* style social icons */
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(230, 182, 191);
  transition: all 0.5s ease;
}

.social-links a:hover{
  /* change to darker colour on hover */
  color: rgb(231, 133, 151);
}

.copyright {
  /* style copyright */
  font-size: 14px;
  color: #939393;
  text-align: center;
  margin-top: 20px;
}

.copyright p {
  margin: 0;
  padding: 0;
}

/*responsiveness*/
@media screen and (max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media screen and (max-width: 574px){
  .footer-col{
    width: 100%;
}
}



