/* _____________HEADER______________ */

/*  want to add burger menu and sticky header property if have time */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  /* position: sticky;
  top: 0;
  z-index: 1; */
}

.header-image img {
  height: 60px; 
  max-height: 100%;
  border-radius: 0%;
}

.header-links-container {
  display: flex;
  padding-right: 20px;
}

.header-links-container a {
  text-decoration: none;
  font-size: 18px;
  color: pink;
  border: none;
  padding: 8px 16px;
}

.header-links-container a:hover {
  background-color: pink;
  color: white;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50px;
}

.header-links-container a:last-child {
  background-color: pink;
  color: white;
  border-radius: 50px;
}

.header-links-container a:last-child:hover {
  background-color: white;
  color: pink;
  border-radius: 50px;
}

.header-links-container {
  display: flex;
  padding-left: 20px;
}




